<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>propel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store dropbox app key</description>
    <param-name>file-app</param-name>
    <param-value>/home/janhavee/Effexway/PropelPM/propel/general/com/general/file/</param-value>
  </context-param>
  <context-param>
    <description>Location to upload file into dropbox</description>
    <param-name>upload-from</param-name>
    <param-value>/</param-value>
  </context-param>
  <context-param>
    <description>Location</description>
    <param-name>file-upload</param-name>
    <param-value>/home/janhavee/Documents/</param-value>
  </context-param>
  <session-config>
    <session-timeout>60</session-timeout>
    <cookie-config>
      <name>JSESSIONID</name>
      <path>/</path>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>
</web-app>